ApplicWEB/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61098/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61098/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61098/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="IService1_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Recup5Film_InputMessage">
    <wsdl:part name="parameters" element="tns:Recup5Film" />
  </wsdl:message>
  <wsdl:message name="IService1_Recup5Film_OutputMessage">
    <wsdl:part name="parameters" element="tns:Recup5FilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupFilmActor_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupFilmActor" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupFilmActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupFilmActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupRoleFilmActor_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupRoleFilmActor" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupRoleFilmActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupRoleFilmActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupFilmActorName_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupFilmActorName" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupFilmActorName_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupFilmActorNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuptopFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuptopFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_RecuptopFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuptopFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupAllActor_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupAllActor" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupAllActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupAllActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupActorByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupActorByPage" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupActorByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupActorByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupActorByResearch_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupActorByResearch" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupActorByResearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupActorByResearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFilm" message="tns:IService1_AddFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFilmResponse" message="tns:IService1_AddFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddComment" message="tns:IService1_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCommentResponse" message="tns:IService1_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recup5Film">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Recup5Film" message="tns:IService1_Recup5Film_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Recup5FilmResponse" message="tns:IService1_Recup5Film_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupFilmActor" message="tns:IService1_RecupFilmActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupFilmActorResponse" message="tns:IService1_RecupFilmActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupRoleFilmActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupRoleFilmActor" message="tns:IService1_RecupRoleFilmActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupRoleFilmActorResponse" message="tns:IService1_RecupRoleFilmActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActorName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupFilmActorName" message="tns:IService1_RecupFilmActorName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupFilmActorNameResponse" message="tns:IService1_RecupFilmActorName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuptopFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecuptopFilm" message="tns:IService1_RecuptopFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecuptopFilmResponse" message="tns:IService1_RecuptopFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupAllActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupAllActor" message="tns:IService1_RecupAllActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupAllActorResponse" message="tns:IService1_RecupAllActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupActorByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupActorByPage" message="tns:IService1_RecupActorByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupActorByPageResponse" message="tns:IService1_RecupActorByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupActorByResearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupActorByResearch" message="tns:IService1_RecupActorByResearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupActorByResearchResponse" message="tns:IService1_RecupActorByResearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/IService1/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recup5Film">
      <soap:operation soapAction="http://tempuri.org/IService1/Recup5Film" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupFilmActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupRoleFilmActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupRoleFilmActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActorName">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupFilmActorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuptopFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/RecuptopFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupAllActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupAllActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupActorByPage">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupActorByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupActorByResearch">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupActorByResearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/IService1/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recup5Film">
      <soap:operation soapAction="http://tempuri.org/IService1/Recup5Film" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupFilmActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupRoleFilmActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupRoleFilmActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupFilmActorName">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupFilmActorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuptopFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/RecuptopFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupAllActor">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupAllActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupActorByPage">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupActorByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupActorByResearch">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupActorByResearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61098/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://localhost:44302/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>